*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: rgb(242, 252, 254);
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;
}
.ancorinha{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 30px;  
  }
  
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: red;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .thirt-txt{
    font-size: 2.5rem;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 10px;
    color: black;
  }

  .ph{
    margin-left: 280px;
    font-size: 1.3rem;
    margin-bottom: 60px;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
section{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    background-color:#dcdcdc;
}    

.section-1{
    display: flex;
    padding: 35px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
  }
  .card-interno {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .card:hover .card-interno {
    transform: rotateY(180deg);
  }
  .card-frente, .card-traseira {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-frente{
    background: linear-gradient(rgba(48, 86, 212, 0.7), rgba(51, 75, 194, 0.7)), url(5.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

  .card-frente-1{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgba(241, 197, 5, 0.7), rgba(251, 213, 0, 0.7)), url(14.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

.card-frente-2{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgba(2, 84, 14, 0.7), rgba(18, 86, 2, 0.7)), url(3.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

  .card-frente-3{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgba(166, 211, 4, 0.7), rgba(211, 80, 4, 0.7)), url(15.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

  .card-frente-4{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgba(116, 50, 230, 0.7), rgba(115, 66, 230, 0.7)), url(16.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

  .card-frente-5{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgba(19, 178, 222, 0.7), rgba(11, 215, 225, 0.7)), url(12.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

  .card-frente-6{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgba(221, 114, 52, 0.639), rgba(231, 155, 84, 0.628)), url(11.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

  .card-frente-7{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgba(185, 162, 239, 0.583), rgba(136, 110, 230, 0.7)), url(13.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

  .card-frente-8{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(rgba(233, 17, 17, 0.7), rgba(241, 9, 9, 0.7)), url(4.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height:80px;
  }

  .card-traseira {
    background-color: white;
    color: white;
    transform: rotateY(180deg);
     width: 98%;
    height: 98%;
    line-height: 37px  ;
    
  }
  
#p1{
  color: white;
font-size: 20px;
}  
#p2{
  font-size: 20px;
  color: black;
}



div{
  font-family:Comic Sans MS;
  padding: 10px;
}
.link{
  width: 37vw;
  height: 33vh;
  color: black;
 
}

#quemsomos{
  width: 24vw;
  height: 27vh;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 80px;
}
#valores{ 
  width: 25vw;
  height: 27vh;
  display: flex;
  flex-direction: column;
  margin-right: 40px;

}
#nossamissao{
  width: 25vw;
  height: 27vh; 
  display: flex;
  flex-direction: column;
}

p{
  padding-top: 20px;
}
.section-2{
  display: flex;
  margin-top: 100px;
  background-image: url(dag.jpg);
  background-size: cover;
  border-image-repeat: no-repeat;
  height: 700px;
  width: 97.5vw;
  margin: 10px;
  margin-left: -2px;
}
.section-4{
  background-color: aliceblue;
    display: flex;
    padding:  10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family:Comic Sans MS;
 
}
#txtdag{
  display: flex;
  position: absolute;
  font-size: 20px;
  margin-left:670px;
  background-color: rgb(252, 252, 252);
  color:black;
  height: 700px;
  width: 721.5px;
  margin-top: 10px;
  opacity: 0.5;
  z-index: 7;
}
#pdag{
  z-index: 8;
  margin-top: 350px;
}

#txt1{
  z-index: 9;
  margin-top: 180px;
  color: black;
}

h2{
	color: white;
}

.card-traseira h2{
  color: black;
}

p{
  color: black;
}--
.p1{
  padding-left: 350px;
}

.segundo_texto{
  margin-left: 450px;
}

.h3{
  margin-left: 210px;;
}

.p5{
  color:black;
  margin-top: -400px;
  width:40%;
  margin-left: 800px;
}

.botao{
  padding: 10px 50px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(171, 82, 192);
  border: 1px solid aliceblue;
  color: white;
  margin-right: 440px;
}
input{
  padding: 10px 50px;
  border-radius: 5px ;
}

.form{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 950px;
  height: 400px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.input{
  display: flex;
  flex-direction: row;
}

#mensagem{
  padding: 50px 200px;
}
.rodape{
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.img-1 img{
  margin-right: 20px;
  border: 2px solid rgb(196, 27, 123);
  border-radius: 50%;
  margin-top: -70px;
  filter: grayscale(1 );
}
.img-1, img:hover{
  filter: grayscale(0);
}

#img1{
  border: 2px solid rgb(2, 24, 120);
}
#img3{
  border:2px solid rgb(3, 78, 16);
}

.txtcard{
  color: rgb(248, 251, 252);
  font-size: 42px;
}
.cz{
  font-size: 40px;
}
.cardcz{
  color: rgb(248, 251, 252);
  font-size: 28px; 
}
.cardTXT{
  color: rgb(248, 251, 252);
  font-size: 18px; 
}
section{
  display: flex;

}

h1{
  margin-top: 100px;
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 4;
  font-size: 50px;
}
h3{
  margin-top: 300px;
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 5;
}
div{
  display: flex;
  justify-content: center;
  color: white;
}
#doe{
  width: 250px;
  height: 70px;
  border: 2px solid red;
  position: absolute;
  z-index: 6;
  margin-top: 350px;
  margin-left: 650px;
  background-color: red;
  color: white;
  font-size: 20px;
}
.slider{
	margin: 0 auto;
	overflow:hidden;
}

.slides{
	width: 100vw;
	height: 100vh;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width:25%;
	position: relative;
	transition: 1s;
}

.slide img{
	width: 1200px;
	height: 100px;
	margin-left:-300px;
}

.manual-navigation{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border:2px solid #fff;
	padding: 5px;
	border-radius: 10px;
	cursor:pointer;
	transition:.05s;
	margin-top: 300px;

	}

.manual-btn:not(:Last-child){
	margin-right: 40px;	
}

.manual-btn:hover{
	background-color: #fff;
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -25%;
}

#radio3:checked ~ .first{
	margin-left: -50%;
}

#radio4:checked ~ .first{
	margin-left: -75%;
}

.navigation-auto div{
	border:2px solid #20a6ff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
	margin-top: 300px;
}

.navigation-auto{
	position: absolute;
	width: 800px;
	margin-top: 360px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:Last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-bn1{
	background-color: #fff;	
}

#radio2:checked ~ .navigation-auto .auto-bn2{
	background-color: #fff;	
}

#radio3:checked ~ .navigation-auto .auto-bn3{
	background-color: #fff;	
}

#radio4:checked ~ .navigation-auto .auto-bn4{
	background-color: #fff;	
}
.wrap {
  /*Ajuste a largura e altura desejadas aqui*/
  width: 1440px;
  height: 500px;
  /*isto fará o elemento video e o .container se adaptarem ao .wrap*/
  position: relative;
  
}
span{
  background-image: linear-gradient(to bottom right, red, red);
  opacity: 0.8;
}
.wrap > .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /*apenas um -1 é necessário quando se trabalha com relative + absolute, sendo pai e filho*/
  width: 100%;
  height: 100%;
  overflow: hidden; /* evita do video passar a altura desejada do .wrap */
}
.wrap > .bg-video > video {
  width: 100%;
}
h1{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index:2;
  font-size: 50px;
}
#h1{
  margin-left: 450px;
  font-size: 3.5rem;
}

#txtv{
  position: absolute;
  font-size: 1.4rem;
    color: white;
    margin-top: -250px;
    margin-left: 120px;
}

button{
  display: flex;
  position: absolute;
  width: 200px;
  height: 50px;
  margin-top: 400px;
  margin-left: 600px;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 2px solid red;
  color: white;
  z-index: 3;
  border-radius: 10px;
}

.formulario{
  background: linear-gradient(rgba(196, 138, 235, 0.7), rgba(243, 94, 188, 0.7)), url(crianças.jpg);
  margin-top: -600px;
  height: 700px;
  z-index: 9;
}

.formulario input{
  width: 190px;
  height: 20px;
  text-align: center;
}

.form{
 color: black;
 margin-top: 100px;
 height: 510px;
-webkit-box-shadow:9px 7px 5px rgba(50,50,0.77);
-moz-box-shadow:9px 7px 5px rgba(50,50,0.77);
box-shadow:9px 7px 5px rgb(157, 157, 154);
}

.div label{
   color: black;
}
#div{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#h3{
  color: black;
  margin-top: -600px;
  color: white;
  font-size: 3.5rem;
}

.btn button{
  margin-top: 545px;
  margin-right: 2040px;
  color: white;
  background-color: red;
  width: 150px;
  border: 1px solid red;
  border-radius: 10px;
}


footer img{
  filter: grayscale(1);
  margin-left: 15px;
}

footer img:hover{
  filter: grayscale(0);
}
footer{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ps{
  margin-left: 300px;
  margin-top: 20px;
}
